<div class="well">
    <div class="row">
        <div class="form-group col-sm-5">
            <label for="mtitle">
                שם
            </label>
            <span>{{matkon.title}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <label>מרכיבים</label>
            <div class="container">
                <div class="col-md-2">
                    <label for="ingTitle">שם</label>
                </div>
                <div class="col-md-1">
                    <label for="ingQuantity">כמות</label>
                </div>
                <div class="col-md-2">
                    <label for="ingMeasureUnit">מידה</label>
                </div>
            </div>    
            <div ng-repeat="ing in matkon.ingredients">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <span>{{ing.title}}</span>
                        </div>
                        <div class="col-md-1">
                            <span>{{ing.quantity}}</span>
                        </div>
                        <div class="col-md-2">
                            <span>{{ing.measureUnit}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <label>אופן הכנה</label>
            <pre>{{matkon.proccess}}</pre>
        </div>
    </div>
</div>