<div class="row">
    <div class=" col-md-6 col-md-push-3 container narrow-container">
        <h2>
            הרשמה למערכת
        </h2>
        <br></br>
        <form ng-submit="signup()">
            <div class="form-group">
                <label for="userName">שם מתשמש</label>
                <input type="text" id="userName" class="form-control input-sm" ng-model="user.username">
            </div>
            <div class="form-group">
                <label for="password">סיסמה</label>
                <input type="password" id="password" class="form-control input-sm" ng-model="user.password">
            </div>
            <input class="btn btn-success input-sm" value="הרשם" type="submit"></button>
        </form>
    </div>
</div>