<!DOCTYPE html>
<html dir="rtl">
<head>
	<title>מתכונים</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
<!--		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>-->
		<script src="scripts/services/matkonimService.js"></script>
		<script src="scripts/controllers/authCtrl.js"></script>
		<script src="scripts/controllers/matkonCtrl.js"></script>
		<script src="scripts/app.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/master/dist/cdnjs/3.3.1/css/bootstrap-rtl.min.css">
		<link rel="stylesheet" href="styles/app.css">
</head>
<body ng-app="matApp">
    <nav class="navbar navbar-default navbar-fixed-top">
       <div class="container-fuild">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><b>מתכונים</b></a>
           </div>  
           <ul class="nav navbar-nav">
            <li></li>
            <li><a href="#/matkons" ng-show="isAuthenticated">המתכונים שלי</a></li>
            <li ng-show="isAuthenticated"><a href="#/addMatkon">הוסף מתכון</a></li>
            <li ng-hide="isAuthenticated"><a href="#/login">כניסה</a></li>
            <li ng-hide="isAuthenticated"><a href="#/signup">הרשמה</a></li>
            <li ng-show="isAuthenticated"><a href="#/signout" ng-click="signout()">יציאה</a></li>
           </ul>
       </div> 
    </nav>
        <div class="container">
            <div ng-view>
        </div>
    </div>
</body>
</html>